* {
    margin : 0 0;
    padding : 0 0;
    font-family: monospace;
    text-align: center;
    background-color: lemonchiffon;
}

#div-quotes-area {
    margin : 10rem 8rem 0 8rem;
    font-size: x-large;
}

#btn-generate-quote{
    background-color: black;
    color : white;
    cursor: pointer;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 15px;
    border : 0px;
    margin-top : 5rem;
    font-size: x-large;
  }

  
  button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
  }


 #quote-content {
    color : red;
 }

  #quote-author {
    display : block;
    margin-top : 1rem;
    color : blue;
  }